            * {
                padding: 0;
                margin: 0;
                user-select: none;

            }
            body {
                background: black;
                color: white;
                min-height: 100vh;
                overflow-y: auto;
                overflow-x: hidden;
                font-family: roboto;
            }
            .a-bar {
               
            }
            .profile-picture {
                width: 25px;
                height: 25px;
                margin: 7px auto auto 8px;
                background-image: url('https://i.ibb.co/w7xKPYS/FB-IMG-1672115261163.jpg');
                background-size: contain;
                border-radius: 50%;
                display: inline-block;

            }
            .twitter-icon {
                width: 40px;
                height: 40px;
                background-image: url('https://pbs.twimg.com/profile_images/1683325380441128960/yRsRRjGO_400x400.jpg');
                background-size: contain;
                left: 50%;
                right: 50%;
                transform: translate(-50%, -50%);
                top: 23px;
                position: relative;
                margin-right: 0;
                filter: brightness(500%);

            }
            .parent {
                left: 0;
                position: absolute;
                width: 100vw;
                height: 40px;
                display: inline-block;

            }
            .b-bar {
                display: flex;
                justify-content: space-around;
                margin-top: 10px;
                font-family: roboto;
                font-weight: 610;
                font-size: 13px;
            }
            hr {
                opacity: 20%;
            }
            .sticky {
                position: sticky;
                top: 0px;
                backdrop-filter: blur(10px);
                 
                z-index: 2;
            }

            #following,#forYou {
                padding:;
                display: inline-block;
                width: 50%;
                padding: 15px;
                text-align: center;
                background: rgba(0,0,0,.6);
            }
            #following:active,#forYou:active {
                background: rgba(255,255,255,.1);
            }

            .main {
                margin-top: 10px;
                border: 1px solid rgba(255,255,255,.1);
                width: 344px;
                text-align: center;
            }
            .pic {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-size: cover;
                object-fit: cover;
                background-repeat: no-repeat;
                position: relative;
                right: 6px;
                top: 1px;
            }
            .creator {
                font-size: 15px;
                font-weight: 500;

            }

            .varify {
                margin-left: 2px;
                display: inline-block;
                margin-bottom: -2px;
            }
            .user-pic {
                text-align: right;
            }

@media (max-width: 400px) {
                .col {
                    margin-top: 10px;
                    height: calc(100% - 40px);
                    display: grid;
                    grid-template-columns: 55% 45%;
                    grid-auto-rows: auto;
                }
                .commentPng {
                    position: relative;
                    margin-left:;
                    top: 3px;
                    width: 20px;
                    height: 25px;
                    filter: brightness(600%);
                }

                .cc {
                    position: relative;
                    top: -6.5px;
                }
                .repost img {
                    margin-right: 4px;
                    position: relative;
                    top: 5px;
                }
                .rc {
                    position: relative;
                    top: 0.6px;
                }

                .lovea img {
                    position: relative;
                    margin-right: 3px;
                    top: 5.5px;
                }
                .lc {
                    position: relative;
                    top: .2px;
                }
                .views img {
                    position: relative;
                    margin-right: 4px;
                    top: 7.5px;
                    height: 12px;
                    width: 10px;
                }
                .vc {
                    position: relative;
                    top: 6.5px;
                }
                .underlineOfForyou {
                    position: absolute;
                    width: 45px;
                    left: 25%;
                    bottom: 1px;
                    transform: translate(-50%, -50%);
                    border: 2px cyan solid;
                }
                .underlineOfFollowing {
                    position: absolute;
                    width: 45px;
                    left: 74.8%;
                    bottom: 1px;
                    transform: translate(-50%, -50%);
                    border: 2px cyan solid;

                }
                hr {
                    width: 350px;
                }
                .content {
                    width: 344px;

                    display: grid;
                    grid-template-columns: 14% 86%;
                    /* For example, four columns */
                    grid-template-rows: auto;
                    .c1 {
                    text-align: left;

                }
            }
        }
@media (min-width: 401px) {
            .col {
                margin-top: 10px;
                height: calc(100% - 40px);
                display: grid;
                grid-template-columns: 65% 35%;
                grid-auto-rows: auto;
            }
            .commentPng {
                position: relative;
                margin-left:;
                top: 4px;
                width: 20px;
                height: 25px;
                filter: brightness(600%);
            }

            .cc {
                position: relative;
                top: -3px;
            }
            .repost img {
                margin-right: 4px;
                position: relative;
                top: 6px;
            }
            .rc {
                position: relative;
                top: 3.2px;
            }

            .views img {
                position: relative;
                margin-right: 4px;
                top: 2.5px;
                height: 12px;
                width: 10px;
            }
            .vc {
                position: relative;
                top: 3.5px;
            }
            .lovea img {
                position: relative;
                margin-right: 3px;
                top: 4.5px;
            }
            .lc {
                position: relative;
                top: 3px;
            }
            .profile-picture {
                margin-left: 205px;
                
            }
            .underlineOfForyou {
                position: absolute;
                width: 45px;
                left: 29.45%;
                bottom: 1px;
                transform: translate(-50%, -50%);
                border: 2px cyan solid;
            }
            .underlineOfFollowing {
                position: absolute;
                width: 45px;
                left: 70.6%;
                bottom: 1px;
                transform: translate(-50%, -50%);
                border: 2px cyan solid;

            }
            .main {
                width: 600px;

            }
            hr {
                width: 600px;
            }
            #forYou {
                padding-left: 100px;
            }
            #following {
                padding-right: 100px;
                
            }
            .content {
                display: grid;
                grid-template-columns: 10% 90%;
                /* For example, four columns */
                grid-template-rows: auto;

            }
        }
        .c1 {
            text-align: left;

        }
        .all {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;

        }
        .content {
            border-top: 1px solid rgba(255,255,255,.2);
            margin-top: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .main {
            border: 1px solid rgba(255,255,255,.2);
            margin-top: 0px;
            position: relative;
            padding-top: -12px;
            padding-top: 5px;
        }
        .user-id:before {
            content: "@";
        }
        .user-id:after {
            content: "•";
        }
        .time,.user-id {
            color: rgba(255,255,255,.4);
            font-size: 15px;
        }
        .time:before {
            content: " ";
        }

        .underlineOfForyou,.underlineOfFollowing {
            border-color: rgba(50,150,255,1);
            border-radius: 50px;
        }
        .caption {
            color: rgba(255,255,255,.8);
            font-weight: 300;
            font-size: 14px;
            padding-right: 10px;
        }
        .info {

            padding-top: 4px;

        }
        .actions {
            display: grid;
            grid-template-columns: 22% 22% 22% 22% 12%;
            grid-template-rows: auto;
            padding-top: 10px;
            font-size: 11px;

        }
        .action {
            opacity: 45%;
            text-align: center;
            align-items: center;

        }
        .comment {
            font-size: 11px;
        }

        .cc:before {
            content: " ";
        }
        .underlineOfFollowing {
            display: none;
        }

        .share {
            text-align: left;

        }
        .share img {
            color: rgba(255,255,255,1);
            height: 16px;
            position: relative;
            top: 1px;
            left: 4px;

        }
        .action {
            border-radius: 25px;
        }
        .lovea:active {
            background: rgba(255,0,140,.4);
            color: #ff008c;
            font-weight: 900;
        }
        .lc:active {
            color: #ff008c;
            font-weight: 900;
        }
        .repost:active {
            background: rgba(61,252,58,.4);
            color: #3dfc3a;
            font-weight: 900;
        }
        .rc:active {
            color: #3dfc3a;
            font-weight: 900;
        }
        .comment:active {
            background: rgba(13, 207, 255,.4);
            color: #00ccff;
            font-weight: 900;
        }
        .cc:active {
            color: #00ccff;
            font-weight: 900;
        }
        .views:active {
            background: rgba(13, 207, 255,.4);
            color: #00ccff;
            font-weight: 900;
        }
        .vc:active {
            color: #00ccff;
            font-weight: 900;
        }
        .share img {
            padding: 4px;
        }
        .share img:active {
            background: rgba(13, 207, 255,.6);
            border-radius: 50%;


        }
        .image img {
            width: calc(100% - 10px);
            height: auto;
            border-radius: 16px;
            margin-top: 10px;
            border: 1px solid rgba(255,255,255,.2);
        }

        .col span {
            height: calc(100% - 3px);
            margin-top: 2px;
            border-right: 1px solid rgba(255,255,255,.2);
        }
        .col span:nth-child(2) {
            border: none;
        }
        .forImage {
            border-top: none;
            margin-top: -10px;
        }
        .more {
            float: right;
            margin-right: 14px;
        }
        .more img {
            opacity: 60%;
            width: 20px;
            height: 30px;
            margin-top: -5px;
        }
        .intro {
            position: fixed;

            width: 100%;
            top: 0;
            background: black;
            z-index: 4;

            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .intro section {
            width: 140px;
            height: 140px;
            background-image: url('https://pbs.twimg.com/profile_images/1683325380441128960/yRsRRjGO_400x400.jpg');
            background-size: contain;
            opacity: 20%;
        }
        .all {
            display:;
        }
        .loading {

            width: 25px;
            height: 25px;
            border: 3px solid rgba(50,150,255,.4);
            border-radius: 50%;
            border-top: 3px solid rgba(50,150,255,1);
            margin-top: 10px;
            margin-bottom: 10px;
            transform: translate(-50%, -50%);
            animation: rotate .5s linear infinite;
        }
@keyframes rotate {
            from {

                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        #loadcontainer {
            overflow: hidden;

        }
        .loading {}
@keyframes animhide {
            0% {
                height: 45px;
            }
            20% {
                height: 36px;
            }
            40% {
                height: 27px;
            }
            60% {
                height: 18px;
            }
            80% {
                height: 9px;
            }
            100% {
                height: 0px;
            }
        }
        .status-bar {
            display: grid;
            grid-template-columns: 25vw 25vw 25vw 25vw;
            grid-template-rows: auto;
            position: fixed;
            bottom: 0;
            width: 100vw;
            height: 50px;
            border-top: 1px solid rgba(255,255,255,.2);
            background: black;
            z-index: 3;
            text-align: center;
        }
        .status-bar section {}
        .icon {

            margin-top: 24px;

        }
        .active {
            border-radius: 50%;
            padding-left: 0px;
            padding-right: 0px;
            width: 50px;
            height: 50px;
            text-align: center;
            display: flex;
            justify-content: center;
            margin-left: 25%;
        }
        .active:active {
            background: rgba(255,255,255,.1);
        }
        #following {
            color: rgba(255,255,255,.6);
        }